body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

input, textarea, select, button {
  font-family: 'Lato';
}

h1, h2, h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

:root {
  font-size: 15px;
}